.app.dark {
  --inverted-bg-color: rgb(160, 160, 218);
  --bg-color: rgb(48, 48, 82);
  --primary-color: rgb(216, 117, 234);
  --secondary-color: rgb(57, 174, 213);

  --inverted-primary-color: rgb(136, 36, 134);
  --inverted-secondary-color: rgb(57, 109, 126);
}
